__pycache__/mock_catalog_maker.cpython-310.pyc
__pycache__/mock_skymap_maker.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/mock_event_maker.cpython-310.pyc
__pycache__/custom_math_priors.cpython-310.pyc
__pycache__/priors.cpython-310.pyc
__pycache__/crossmatch.cpython-310.pyc
__pycache__/crossmatch.cpython-313.pyc
__pycache__/custom_math_priors.cpython-313.pyc
__pycache__/likelihood.cpython-310.pyc
__pycache__/mock_catalog_maker.cpython-313.pyc
__pycache__/mock_event_maker.cpython-313.pyc
__pycache__/mock_skymap_maker.cpython-313.pyc
__pycache__/priors.cpython-313.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/utils.cpython-313.pyc
pagn.npy
palt.npy
skymap_samples.hdf5
skymap_samples2.hdf5
skymap.fits
skymap2.fits
skypost.obj
test.ipynb
test.py
__pycache__/arguments.cpython-310.pyc
__pycache__/compute_zprior.cpython-310.pyc
__pycache__/LOS_zprior.cpython-310.pyc
__pycache__/make_norm_map.cpython-310.pyc
__pycache__/pixelated_catalog.cpython-310.pyc
catalogs/mock.hdf5
maps/mock_norm.fits
maps/mock_norm.pdf
MOCK_LOS_redshift_prior_nside_64_pixel_index_None.hdf5
